#p-img{
  height: 480px;
}

#img-pic{
  height: 100%;
  object-fit: cover;
  filter: brightness(0.3);
}

#p-text{
  font-size: 14px;
}
#text1{
  margin-top: 200px;
}
#text2{
  margin-top: 200px;
}
#text3{
  margin-top: 200px;
}

#icon-con{
 height: 120px;
}


